.container {
    display:flex;
    flex-direction:column;
    align-items:center;
}
@media (min-width: 800px) {
    .container {
        flex-direction:row;
        flex-wrap:wrap;
        padding-left:2rem;
        padding-right:2rem;    }
}