.container {
    position:relative;
  }
  .card {
    overflow:hidden;
    display:inline-block;
    height:300px;
    width:175px;
    background-color:#fff;
    border-radius:10px;
    margin:2rem;
    box-shadow:0 0 3px 1px rgba(0,0,0,.5);
  }
  .back {
    position:absolute;
    top:0;
    left:0;
    transform: rotate(15deg);
  }
  .image {
    position:relative;
    height:100%;
    width:100%;
    object-position: center;
    object-fit: cover;
  }
