.button {
    display:inline-block;
    padding:.8rem 1.25rem;
    background-color:rgba(0, 132, 255, 1);
    border-radius:10px; 
    font-size:1.25rem;
    margin-right:.6rem;
    margin-bottom:.6rem;
    box-shadow:0 0 3px 1px rgba(0,0,0,.5);
    color:#fff;
    font-weight:700;
    text-decoration:none;
}
.buttonContainer {
    height:100%;
    display:flex;
    justify-content: flex-end;
}