.button {
    display:inline-block;
    padding:.8rem 1.25rem;
    background-color:rgba(0, 132, 255, 1);
    font-size:1.25rem;
    margin-right:.6rem;
    margin-bottom:.6rem;
    color:#fff;
    font-weight:700;
    text-decoration:none;
}
.button:hover {
    transform: translateY(-1px);
    transition:.3s;
}
.buttonContainer {
    height:100%;
    display:flex;
    justify-content: flex-end;
}